<nav class="navbar navbar-expand-lg navbar-dark fixed-top" dropdown>
  <div class="container">
    <a class="navbar-brand pt-0" [routerLink]="['/home']">BetSystem</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stats']">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/team']">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new-bet']" >Add Bet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bets']" >Bets</a>
        </li>
      </ul>
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/admin']" >Admin</a>
        </li>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      dropdownToggle aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *dropdownMenu>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stats']">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/team']">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new-bet']">Add Bet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bets']">Bets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin']">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>