
<spinner *ngIf="!teamsProfit"></spinner>
<div *ngIf="teamsProfit && teamsProfit.length == 0">
  <h5>There are no statistics to be displayed!</h5>
  <p>If the season is <i style="color:orange">Active</i>, please add teams and bets to load statistics.</p>
</div>

<div>
  <canvas id="teamsChart" style="width: auto; height: 550px"></canvas>
</div>
<div class="mt-4" *ngIf="showDatesChart">
  <canvas id="profitChart" style="width: auto; height: 550px"></canvas>
</div>
<div class="mt-4" *ngIf="showDatesChart">
  <canvas id="datesChart" style="width: auto; height: 550px"></canvas>
</div>
  <div class="container mt-3">
    <div class="row">
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
        <canvas id="countryProfit" style="width: auto; height: 400px"></canvas>
      </div>
      <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
        <div class="country-chart mt-md-3 mt-sm-3 mt-xs-3 mt-0">
          <canvas id="countryTeams"></canvas>
        </div>
      </div>
  </div>
</div>